.orange-red {
  color: orangered !important;
  padding: 0.5rem 1rem;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 700;
}
.bg-orange-red {
  background-color: orangered;
}

.navbar-brand {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 26px;
}
.nav-link {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 700 !important;
  color: black !important;
}
.media1 img {
  width: 64px;
  height: 64px;
}

nav {
  width: 100vw;
}
